nav {
  display: inline-block;
  vertical-align: middle;
}

nav a {
  display: block;
  width: 200px;
  height: 200px
}

main * {
  width: 400px
  display: inline-block;
  vertical-align: top;
}

main * {
  display: inline;
}
