body {
  display: flex;
}

nav {
  width: 250px;
  flex: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  vertical-align: center;
  border: 20px solid black
}

img {
  width: 200px
  height: 200px
}
